/*todo css*/

#todo_input_wrapper {
    width: 526px;
    height: 328px; /*should be auto*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*margin: 20px auto 0 auto;*/
    margin: auto;
    border-radius: 1px;
    z-index: 7000;
    
    display: none;
    
    background-color: white;
    
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.todo_head_text {
    width: 100%;
    height: 50px;
    float: left;
    
    background-color: transparent;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.input {
    width: 100%;
    border-style: none;
    height: 40px;
    border: 1px solid rgba(238, 238, 238, 0.4);
    border-radius: 2px;
    text-indent: 10px;
    display: block;
    box-sizing: border-box;
    
    font-size: 14px;
    color: rgba(0, 0, 0, 0.84);
    background-color: rgba(238, 238, 238, 0.4);
}

.input:hover{
    border: 1px solid rgba(238, 238, 238, 1);
}

.todo_input_wrapper {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 5px;
}

.todo_input_wrapper_half {
    width: 50%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    padding: 5px;
}



#add_btn {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 12px;
    cursor: pointer;
    z-index: 5000;
    
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.4);
    
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

#add_btn:hover{
    color: rgba(0, 0, 0, 0.84);
    
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
}

#add_btn:hover + #add_btn_text{
    /*display: block;*/
    opacity: 1;
}

.head_txt {
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}





#add_btn_text {
    width: 100px;;
    height: 40px;
    position: absolute;
    top: 0;
    left: 50px;;
    margin: 12px;
    float: left;
    line-height: 40px;
    text-align: center;
    font-weight: 500;
    z-index: 5000;
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.01);
    
    /*display: none;*/
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



.exit_btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 13px;
    cursor: pointer;
    
    width: 24px;
    height: 24px;
    background: url(../assets/svg/exit_btn.svg)no-repeat;
    opacity: 0.5;
    
    border-radius: 50%;
}

.exit_btn:hover{
    opacity: 0.84;
    background-color: rgba(238, 238, 238, 1);
}



#todo_container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

#todo_card {
    width: 526px;
    height: auto;
    float: left;
    
    margin: 5px;
    display: block;
    
    background-color: white;
    
    border-radius: 2px;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

#todo_card:hover{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}



.card_center_wrapper {
    margin-top: 50px;
    width: 536px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
}

#dark_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 6000;
    
    display: none;
    
    background-color: rgba(0, 0, 0, 0.8);
}

.delete_btn {
    width: 100%;
    height: 20px;
    
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    
    cursor: pointer;
    display: block;
    float: left;
    
    background-color: #E26A6A;
}

.delete_btn:hover {
    background-color: #D64541;
}

.delete_btn:hover .deletebtn{
    opacity: 0.84;
}

.todo_info {
    width: 512px;
    height: auto;
    min-height: 100px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    float: left;
    
    display: block;
    word-break: break-all;
}

.deletebtn {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
    padding-right: 2px;
    background: url(../assets/svg/delete_btn.svg);
    opacity: 0.5;
}



.card_task {
    width: 100%;
    height: auto;
    float: left;
    display: block;
    color: rgba(0, 0, 0, 0.84);
    
    line-height: 30px;
    font-size: 20px;
}

.card_small_info {
    width: 50%;
    height: auto;
    float: left;
    display: block;
    
    line-height: 30px;
    font-size: 14px;
}

.block {
    width: 100%;
    height: auto;
    float: left;
    display: block;
}

.card_Description {
    width: 100%;
    height: auto;
    float: left;
    display: block;
    color: rgba(0, 0, 0, 0.54);
    
    line-height: 30px;
    font-size: 14px;
}
